# Ambiente
.env
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/

# IDE / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
